#card {
	position: fixed;
	bottom: 1em;
	right: 1em;
	border: 1px solid #000000;
	padding: 1em;
	background: #FFFDA1;
	width: 30em;
	font-size: 10pt;
	line-height: 11pt;
	overflow: auto;
	max-height: 90%;
	}

#card h1 {
	font-family: Garamond;
	text-align: center;
	font-size: 1.5em;
	}
#card p {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	color: #000;
	margin: 0 0 1em 0;
	font-size: 10pt;
	line-height: 14pt;
	}
#card pre {
	font-size: 9pt;
	}

#card ins {
	color: limegreen;
	font-weight: bold;
	text-decoration: none;
	}
#card del {
	color: #B3B171;
	}

#card .image {
	text-align: center;
	}
#card img {
	border: 1px solid #B3B171;
	padding: 2px;
	}

#card .dots {
	text-align: center;
	font-size: large;
	margin: -.7em 0 .5em 0;
}
#card .dots a {
	text-decoration: none;
	color: #B3B171;
}
#card .dots a:hover {
	color: #1941DE;
}
#card .dots a.selected {
	color: #000;
}

#card .nav {
	float: left;
	margin: 0;
	padding: 0;
	font-family: Garamond;
	color: #B3B171;
	font-weight: bold;
	width: auto;
	}
#card .nav a {
	text-decoration: none;
	color: #B3B171;
	font-weight: bold;
	}
#card .nav a:hover {
	color: #000;
	color: #1941DE;
	}

#card #nextprev {
	text-align: right;
	font-size: x-small;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Gill Sans';
	margin: 0
	}
#card #nextprev a {
	text-decoration: none;
	border: 1px solid #B3B171;
	color: #000;
	padding: .5em 1em;
	}
#card #nextprev a:hover {
	border: 1px solid #000;
	background: #B3B171;
	}