html {
	background: #FFFFFF url('bg.gif') top left repeat-y;
	padding-left: 300px;
	}

#card {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 280px;
	padding: 0 0 10px 0;
	overflow: hidden;
	background: transparent url('table.gif') bottom center no-repeat;
	padding-bottom: 80px;
	}
#card a {
	color: #000000;
	text-decoration: none;
	border-bottom: 1px solid #666666;
	}
#card a:hover {
	color: #3300CC;
	}

#card h1 {
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	}
#card p {
	color: #000;
	margin: 0 0 1.5em 0;
	font-size: 1em;
	line-height: 1.5em;
	}
#card pre {
	font-size: .9167em;
	line-height: 1.6364em;
	}

#card ins {
	color: limegreen;
	font-weight: bold;
	text-decoration: none;
	}
#card del {
	color: #999999;
	}

#card .dots {
	text-align: center;
	font-size: large;
	margin: -.7em 0 .5em 0;
}
#card .dots a {
	text-decoration: none;
	color: #999999;
	border: none;
}
#card .dots a:hover {
	color: #3300CC;
}
#card .dots a.selected {
	color: #000000;
}

#card .nav {
	font-size: .9167em;
	line-height: 1.6364em;
	float: left;
	margin: 0;
	padding: 0;
	color: #999999;
	width: auto;
	}
#card .nav a {
	text-decoration: none;
	color: #999999;
	border: none;
	}
#card .nav a:hover {
	color: #3300CC;
	}

#card #nextprev {
	text-align: right;
	font-size: x-small;
	font-weight: bold;
	margin: 0
	}
#card #nextprev a {
	text-decoration: none;
	border: 1px solid #999999;
	color: #000;
	padding: .5em 1em;
	}
#card #nextprev a:hover {
	border: 1px solid #000;
	background: #A385FF;
	}