---
layout: default
---

{% assign p = page.path | split:'/' | last | remove:'.md' | times:1 %}
{% assign section = page.path | split:'/' | first %}

<style>
@import '/assets/card.css';
{{ page.css }}
</style>

<div id="card" class="{{ section }}">
	<p class="dots">
		{% for i in (1..layout.pagecount) %}
		<a href="/{{ section }}/{{i}}/" title="{{i}}" {% if i == p %}class="selected"{% endif %}>&middot;</a>
		{% endfor %}
	</p>
	{{ content }}
	<p class="nav">
		<a href="/">Learn CSS</a>
		&#9656;
		<a href="/{{ section }}/">{{ layout.title }}</a>
	</p>
	<p id="nextprev">
		{% if p == 0 %}
			<a href="/{{ section }}/1/" title="Start">Start &#9656;</a>
		{% elsif p == 1 %}
			<a href="/{{ section }}/" title="Previous">&#9664;</a>
		{% else %}
			<a href="/{{ section }}/{{ p | minus:1 }}/" title="Previous">&#9664;</a>
		{% endif %}
		{% if p == 0 %}
		{% elsif p == layout.pagecount %}
			<a href="/{{ section }}/" title="Start Over">&#9672;</a>
		{% else %}
			<a href="/{{ section }}/{{ p | plus:1 }}/" title="Next">&#9654;</a>
		{% endif %}
	</p>
</div>

{% if layout.example %}
{% unless p == 0 %}
<div id="body">
	{% include examples/{{ layout.example }}.html %}
</div>
{% endunless %}
{% endif %}
